<section>

  <mat-list>

    <h3 matHeader>Types d'article disponibles</h3>
    
    <div class="example-button-row">
      <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="primary" id="add-button" (click)="addType()">
              <mat-icon>add</mat-icon>
            </button>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-list-item *ngFor="let type of types | async">
      <p matLine>{{type.libType}}</p>
      <button mat-icon-button color="warn" (click)="deleteType(type.idType)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>

  </mat-list>

</section>
  
  
  