<form [formGroup]="createArticleForm" class="maincontainer" >
    <mat-card class="creationCard">
        <mat-card-header>
            <mat-card-title>Interface de création d'article</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <br />

        <mat-card-content>
            <mat-form-field class="largeInput">
                <input matInput type="text" placeholder="Titre de l'article" formControlName="title" id="title" />
                <mat-error align="end" *ngIf="hasError('title', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>

            <mat-form-field class="largeInput">
                <textarea matInput type="text" placeholder="Description de l'article" formControlName="description"
                    id="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="100"></textarea>
                <mat-error align="end" *ngIf="hasError('description', 'required')">Ce champs est requis</mat-error>
                <mat-error align="end" *ngIf="hasError('description', 'minlength')">Un minimum de 100 caractères est
                    requis</mat-error>
            </mat-form-field>

            <!-- zone des selects -->

            <mat-form-field appearance="fill">
                <mat-label>Type d'article</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let value of variableBidon" value="{{ value }}">
                        {{ value }}
                    </mat-option>
                </mat-select>
                <mat-error align="end" *ngIf="hasError('type', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Catégorie d'article</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let value of variableBidon" value="{{ value }}">
                        {{ value }}
                    </mat-option>
                </mat-select>
                <mat-error align="end" *ngIf="hasError('category', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>

            <mat-divider></mat-divider>
            <br />
            <br />








            <div class="row addLangOrFramRow">
                <div class="col-lg-5 col-md-5 col-sm-7 largeInput">
                    <!-- <mat-label>Language utilisé</mat-label> -->
                    <input matInput type="text" placeholder="Language utilisé" [(ngModel)]="selectedLang"
                        [ngModelOptions]="{ standalone: true }" />
                </div>

                <div class="col-lg-5 col-md-5 col-sm-3 largeInput">
                    <!-- <mat-label>Version</mat-label> -->
                    <input matInput type="text" placeholder="Version du language" [(ngModel)]="selectedLangVersion"
                        [ngModelOptions]="{ standalone: true }" />
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 searchBtns">
                    <button mat-button matTooltip="Ajouter ce language" type="button" (click)="addOneLanguage()">
                        <mat-icon color="primary">add</mat-icon>
                    </button>
                </div>
            </div>


            <br />
            <mat-divider></mat-divider>
            <br />


            <div class="row addLangOrFramRow">
                <div class="col-lg-5 col-md-5 col-sm-7 largeInput">
                    <!-- <mat-label>Language utilisé</mat-label> -->
                    <input matInput type="text" placeholder="Framework utilisé" [(ngModel)]="selectedFram"
                        [ngModelOptions]="{ standalone: true }" />
                </div>

                <div class="col-lg-5 col-md-5 col-sm-3 largeInput">
                    <!-- <mat-label>Version</mat-label> -->
                    <input matInput type="text" placeholder="Version du framework" [(ngModel)]="selectedFramVersion"
                        [ngModelOptions]="{standalone:true}">
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 searchBtns">
                    <button mat-button matTooltip="Ajouter ce framework" type="button" (click)="addOneFramework()">
                        <mat-icon color="primary">add</mat-icon>
                    </button>
                </div>
            </div>


            <br />
            <mat-divider></mat-divider>
            <br />

            <!-- affichage des languages et versions selectionnés -->


            <mat-form-field appearance="fill">
                <mat-label>Languages Selectionnés</mat-label>
                <mat-chip-list>
                    <mat-chip *ngFor="let langage of allSelectedLang" value="{{ langage }}" color="accent" selected>
                        {{ langage.lang}} {{langage.version}}
                        <button class="removeBtn" mat-button matTooltip="Retirer ce language" type="button"
                            (click)="removeOneLanguage(langage)">
                            <mat-icon color="primary">remove</mat-icon>
                        </button>
                    </mat-chip>
                </mat-chip-list>
                <!-- <mat-error align="end" *ngIf="hasError('languages', 'required')">Il est impératif de préciser les
                    languages et frameworks utilisés</mat-error> -->
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Frameworks Selectionnés</mat-label>
                    <mat-chip-list>
                        <mat-chip *ngFor="let framew of allSelectedFram" value="{{framew}}" color="accent" selected>
                            {{framew.framework}} {{framew.version}}
                            <button class="removeBtn" mat-button matTooltip="Retirer ce framework" type="button"
                                (click)="removeOneFramework(framew)">
                                <mat-icon color="primary">remove</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                    <!-- <mat-error align="end" *ngIf="hasError('frameworks', 'required')">Il est impératif de préciser les
                        languages et frameworks utilisés</mat-error> -->
            </mat-form-field>


            <br />
            <mat-divider></mat-divider>
            <br />


            <!-- fin de zone des selects -->

            <mat-form-field class="largeInput">
                <textarea matInput type="text" placeholder="Contenu de l'article" formControlName="content"
                    id="description" cdkTextareaAutosize cdkAutosizeMinRows="20"></textarea>
                <mat-error align="end" *ngIf="hasError('content', 'required')">Ce champs est requis</mat-error>
                <mat-error align="end" *ngIf="hasError('content', 'minlength')">Un minimum de 100 caractères est requis
                </mat-error>
            </mat-form-field>

        </mat-card-content>


        <mat-card-actions>
            <button type="submit" value="submit" mat-raised-button color="primary" (click)="onSubmitGlobally()"
                matTooltip="Sauvegarder mon article et le rendre accessible et consultable par la communauté">
                Valider et publier
            </button>
            <button type="submit" value="submit" mat-raised-button color="primary" (click)="onSubmit()"
                matTooltip="Sauvegarder mon article sans le partager avec la communauté">
                Sauvegarder
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()"
                matTooltip="Le contenu présenté est bien pertinent">
                Annuler
            </button>
        </mat-card-actions>

    </mat-card>
</form>