mat-card {
    margin: 1em;
}

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button{
    margin-right: 2em;
    justify-content: center;
}

.largeInput{
    width: 100%;
}

mat-select{
    margin: 1%;
}



/* css du dialog */

/* mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textareaformfield{
    width: 100%;
}

.checkboxDialog{
    margin: 1em;
} */