<form [formGroup]="createArticleForm" class="maincontainer" >
    <mat-card class="creationCard">
        <mat-card-header>
            <mat-card-title>Interface de création d'article</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <br />

        <mat-card-content>
            <mat-form-field class="largeInput">
                <input matInput type="text" placeholder="Titre de l'article" formControlName="title" id="title" />
                <mat-error align="end" *ngIf="hasError('title', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>

            <mat-form-field class="largeInput">
                <textarea matInput type="text" placeholder="Description de l'article" formControlName="description"
                    id="description" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="100"></textarea>
                <mat-error align="end" *ngIf="hasError('description', 'required')">Ce champs est requis</mat-error>
                <mat-error align="end" *ngIf="hasError('description', 'minlength')">Un minimum de 100 caractères est
                    requis</mat-error>
            </mat-form-field>

            <!-- zone des selects -->

            <mat-form-field >
                <mat-label>Type d'article</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let value of allType" value="{{value}}">
                        {{value}}
                    </mat-option>
                </mat-select>
                <mat-error align="end" *ngIf="hasError('type', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>

            <mat-form-field >
                <mat-label>Catégorie d'article</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let value of allCategory" value="{{value}}">
                        {{value}}
                    </mat-option>
                </mat-select>
                <mat-error align="end" *ngIf="hasError('category', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>


            <mat-form-field matTooltip="Selectionnez les différents languages abordés dans cet article">
                <mat-label>Langages</mat-label>
                <mat-select formControlName="languages"  (closed)="onCloseMethod()">
                    <mat-option *ngFor="let value of allLanguages" value="{{value}}">
                        {{value}}
                    </mat-option>
                </mat-select>
                <mat-error align="end" *ngIf="hasError('languages', 'required')">Ce champs est requis</mat-error>
            </mat-form-field>



            <mat-form-field matTooltip="Selectionnez le framework abordé dans cet article s'il y en a un">
                <mat-label>Frameworks</mat-label>
                <mat-select formControlName="frameworks" (closed)="onCloseMethod()">
                    <mat-option *ngFor="let value of allFrameworks" value="{{value}}">
                        {{value}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 


            <br>
            <mat-divider></mat-divider>
            <br />

            <!-- <div *ngIf="this.allSelectedLangLib.length>0" > -->
                <div class="addVersion" *ngIf='this.createArticleForm.controls["languages"].value'>
                <mat-form-field class="smallInput" matTooltip="Indiquez la version du language selectionné">
                        {{this.createArticleForm.controls["languages"].value}}  version : <input matInput type="text" formControlName="languagesVersion">
                    <mat-error align="end" *ngIf="hasError('languagesVersion', 'required')">Ce champs est requis</mat-error>
                </mat-form-field>
                <br />
                <mat-divider></mat-divider>
                <br />
            </div>
        <!-- </div> -->

            <!-- *ngIf="this.allSelectedFramLib.length>0"  -->
            <!-- <div *ngIf="this.allSelectedFramLib.length>0" > -->
            <div class="addVersion" *ngIf='this.createArticleForm.controls["frameworks"].value'>
                <mat-form-field class="smallInput" matTooltip="Indiquez la version du frameworks selectionnés">
                        {{this.createArticleForm.controls["frameworks"].value}}  version : <input matInput type="text" formControlName="frameworksVersion">
                    <mat-error align="end" *ngIf="hasError('frameworksVersion', 'required')">Ce champs est requis</mat-error>
                </mat-form-field>

                <br />
                <mat-divider></mat-divider>
                <br />
            </div>
        <!-- </div> -->

            <!-- <div class="addVersion" *ngFor="let langlib of allSelectedLangLib; let i = index">
                <mat-form-field class="smallInput" matTooltip="Indiquez les versions des différents languages selectionnés">
                        {{langlib}}  version : <input matInput type="text" formControl="languagesv">
                    <mat-error align="end" *ngIf="hasError(languagesv', 'required')">Ce champs est requis</mat-error>

                </mat-form-field>
            </div> -->







            <!-- fin de zone des selects -->

            <mat-form-field class="largeInput">
                <textarea matInput type="text" placeholder="Contenu de l'article" formControlName="content"
                    id="description" cdkTextareaAutosize cdkAutosizeMinRows="20"></textarea>
                <mat-error align="end" *ngIf="hasError('content', 'required')">Ce champs est requis</mat-error>
                <mat-error align="end" *ngIf="hasError('content', 'minlength')">Un minimum de 100 caractères est requis
                </mat-error>
            </mat-form-field>

        </mat-card-content>


        <mat-card-actions>
            <button type="submit" value="submit" mat-raised-button color="primary" (click)="onSubmitGlobally()"
                matTooltip="Sauvegarder mon article et le rendre accessible et consultable par la communauté">
                Valider et publier
            </button>
            <button type="submit" value="submit" mat-raised-button color="primary" (click)="onSubmit()"
                matTooltip="Sauvegarder mon article sans le partager avec la communauté">
                Sauvegarder
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()"
                matTooltip="Le contenu présenté est bien pertinent">
                Annuler
            </button>
        </mat-card-actions>

    </mat-card>
</form>