mat-card {
    margin: 1em;
}

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button{
    margin-right: 2em;
    justify-content: center;
}

.largeInput{
    width: 100%;
}

mat-select{
    margin: 1%;
}

.removeBtn{
    margin-right: 0em;
    /* padding:0em; */
}

.langageList{
    display: inline-block;
    /* flex-direction: row; */
    min-width: 100%;
    width: 100%;
}

/* .addversion */
/* .smallInput{ */
    /* display: flex;
    flex-direction: row;
    min-width: 100%;
    width: 100%; */
    /* justify-content: space-between; */

/* } */

.nextToSomeone{
    padding-right: 2em;
}

.selectZone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    min-width: 100%;
    width: 100%;
}


/* .mat-form-field {
    display: inline-block;
    position: relative;
    min-width: 100%;
    width: 100%;
} */




/* css du dialog */

/* mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textareaformfield{
    width: 100%;
}

.checkboxDialog{
    margin: 1em;
} */