<div class="container">
    <div class="alert alert-danger" [hidden]="!error">
        Erreure de connexion
    </div>
    <form [formGroup]="loginForm">
        <h2>Se connecter</h2>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="mail" [(ngModel)]="credentials.username">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="mdp" type="password" [(ngModel)]="credentials.password">
        </mat-form-field>
        <button (click)="login()" type="submit">Connexion</button>
    </form>
</div>

