<h3 matHeader>Créer un framework</h3>
<mat-divider></mat-divider>

<div [hidden]="submitted" style="width: 400px;">

  <mat-card-content>

    <mat-form-field appearance="fill">
      <mat-label for="framework">Nom du framework</mat-label>
      <input matInput
        type="text"
        class="form-control"
        id="framework"
        required
        [(ngModel)]="framework.framework"
        name="framework"
      />
    </mat-form-field>
  
    <button mat-raised-button type="submit" value="submit"color="primary" (click)="onSubmit()">Valider</button>
  
  </mat-card-content>

</div>

<div [hidden]="!submitted">
    <h6>Framework ajouté</h6>
    <button mat-raised-button color="accent" (click)="goBack()">Retour</button>
</div>
