<h3>Ajouter un framework</h3>

<div [hidden]="submitted" style="width: 400px;">

    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="framework">Nom du framework</label>
        <input
          type="text"
          class="form-control"
          id="framework"
          required
          [(ngModel)]="framework.framework"
          name="framework"
        />
      </div>
  
      <button type="submit" class="btn btn-success">Valider</button>

    </form>

</div>
  
<div [hidden]="!submitted">
    <h4>Framework ajouté</h4>
</div>
