<mat-card class="consultation-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Titre de l'article </mat-card-title>
    <mat-card-subtitle>texte de la description texte de la description texte de la description texte de la description
      texte de la description </mat-card-subtitle>
  </mat-card-header>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="accent" selected>Type</mat-chip>
    <mat-chip color="accent" selected>categorie</mat-chip>
    <mat-chip color="accent" selected>language</mat-chip>
    <mat-chip color="accent" selected>version language</mat-chip>
    <mat-chip color="accent" selected>framework</mat-chip>
    <mat-chip color="accent" selected>version framework</mat-chip>
    <mat-chip color="accent" selected>date de création</mat-chip>
    <mat-chip color="accent" selected>date de modification</mat-chip>
    <mat-chip color="accent" selected>auteur</mat-chip>
    <mat-chip color="primary" selected>nb likes</mat-chip>
    <mat-chip color="primary" selected>nb dislikes</mat-chip>
  </mat-chip-list>
  <br />

  <mat-card-content>
    <p>
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
      ceci est le contenu de l'article
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

      <button mat-mini-fab matTooltip="Le contenu présenté est bien pertinent" color="primary">
        <mat-icon>thumb_up</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Le contenu présenté n'est pas pertinent" color="warn">
        <mat-icon>thumb_down</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Modifier cet article" color="primary">
        <mat-icon>create</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Imprimer l'article" color="primary">
        <mat-icon>print</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="Ajouter cet article à la liste de mes favoris" color="accent">
        <mat-icon>add</mat-icon>
      </button>
  </mat-card-actions>

</mat-card>