/* bottom-buttons-area{
    display: inline-block;
    justify-content: space-between;
    margin: 80px;
} */

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button{
    margin-right: 2em;
}