/* bottom-buttons-area{
    display: inline-block;
    justify-content: space-between;
    margin: 80px;
} */

mat-card {
    margin: 1em;
}

mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* padding: 0em;
    margin: 0em; */
}

mat-card-title{
    word-wrap    : break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

mat-card-subtitle{
    word-wrap    : break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

mat-card-content{
    word-wrap    : break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-x: hidden;
}

button{
    margin-right: 2em;
    justify-content: center;
}


/* mat-icon{
    vertical-align: none;
} */



/* css du dialog */

mat-dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-top: 1em; */
}

.textareaformfield{
    width: 100%;
        word-wrap    : break-word;
        overflow-wrap: break-word;
        word-break: break-all;
}

.checkboxDialog{
    margin: 1em;
}

.chipsLike{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
    margin-right: 2em;
}