<mat-toolbar color="primary">
  My Awesome Toolbar
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>C'est super !</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
      scelerisque venenatis purus. Nullam tempus felis quis leo congue
      vulputate. Quisque suscipit, sapien in ullamcorper facilisis, mi ex
      bibendum turpis, vel mollis ligula diam vel tellus. Aliquam sed ligula
      volutpat, auctor dolor in, dictum enim. Sed semper justo ac metus
      efficitur hendrerit. Aliquam erat volutpat. Mauris scelerisque facilisis
      blandit. Phasellus vel elementum dui, ut bibendum nisi. Vestibulum sodales
      nec ex eu aliquet. Donec lacus massa, ultrices a pretium nec, blandit eu
      mauris. Pellentesque quis tempus elit, vitae suscipit ipsum. Mauris
      vestibulum semper magna, et vestibulum tortor vehicula nec. Curabitur
      imperdiet orci eu purus commodo feugiat. Morbi ultricies viverra est, eget
      accumsan ex vestibulum in. Praesent a blandit tortor. Curabitur vitae
      congue risus, quis pulvinar leo. Nam pulvinar purus sit amet lacus
      fringilla posuere. Donec quis sodales lectus. Duis interdum sem ligula, a
      dignissim ex gravida sit amet. Aliquam sodales consequat urna, sed
      fermentum sapien hendrerit at. Aenean id velit auctor, tristique eros nec,
      convallis sapien. Suspendisse ut tincidunt tellus. Nulla convallis iaculis
      neque, ac posuere risus convallis sed. Nam rhoncus purus quam. Sed feugiat
      pretium convallis. Mauris molestie, justo in tristique porttitor, tellus
      eros tincidunt enim, in maximus magna nunc quis felis. Curabitur
      scelerisque arcu imperdiet, ultrices neque gravida, sollicitudin urna.
      Pellentesque scelerisque condimentum pulvinar. Mauris varius quis ipsum eu
      fringilla. Mauris sit amet nunc ex. Cras sodales euismod semper. Donec id
      tellus nec diam sollicitudin tincidunt. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Phasellus a vulputate neque. Ut vitae velit
      sed velit gravida vestibulum.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">Like</button>
    <button mat-raised-button color="warn">Dislike</button>
  </mat-card-actions>
</mat-card>


