<!-- Menu temporaire -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wikicodia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/liste">Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion">Connexion</a>
        </li>
      </ul>
      <div>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>

<app-advanced-search></app-advanced-search>

<br/>
<br/>

<!-- <app-article-consultation></app-article-consultation> -->
<router-outlet></router-outlet>

