<body *ngIf="autentificated">
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="https://i.imgur.com/T1kCd0H.jpeg">
            </div>
            <div class="row user-left-part col-md-12">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <button id="btn-contact" data-toggle="modal" data-target="#contact" class="btn btn-success btn-block follow">Modifier le Profil</button> 
                            <button class="btn btn-warning btn-block">Changer de mot de passe</button>                               
                        </div>
                        <div class="row user-detail-row">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                <div class="border"></div>
                                <p>Articles</p>
                                <span>12</span>
                            </div>                           
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>{{ user.prenom }} {{ user.nom }}</h1>
                                    <h5>{{ user.pseudo }}</h5>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <a href="/search" class="btn btn-primary btn-block">Un truc</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> Préférences </a>
                                        </li>                                                
                                    </ul>       
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Mail</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.mail }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Linkedin</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.lienLinkedin }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Status</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.statut }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Role</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.role }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Membre depuis</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.dateInscription }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="buzz">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Preferences</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.preferences }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Etat</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.etat }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Framework</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.framework }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Langage</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.langage }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Type</label>
                                                </div>
                                                <div class="col-md-6 offset-md-3">
                                                    <p>{{ user.type }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Categorie</label>
                                                    <br/>
                                                    <p>{{ user.categorie }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contact">Modification du Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" [formGroup]="editForm">
                    <div class="d-none">
                        <input type="hidden" [(ngModel)]="user.id" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
                    </div>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Nom</mat-label>
                        <input [(ngModel)]="user.nom" matInput formControlName="nom">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Prenom</mat-label>
                        <input matInput [(ngModel)]="user.prenom" formControlName="prenom">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Pseudo</mat-label>
                        <input matInput [(ngModel)]="user.pseudo" formControlName="pseudo">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>E-mail</mat-label>
                        <input matInput [(ngModel)]="user.mail" formControlName="mail" type="mail">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Lien Linkedin</mat-label>
                        <input matInput [(ngModel)]="user.lienLinkedin" formControlName="lienLinkedin">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Statut</mat-label>
                        <input matInput [(ngModel)]="user.statut" formControlName="statut">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Preference</mat-label>
                        <input matInput [(ngModel)]="user.preferences" formControlName="preferences">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Etat</mat-label>
                        <input matInput [(ngModel)]="user.etat" formControlName="etat">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Role</mat-label>
                        <input matInput [(ngModel)]="user.role" formControlName="role">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Framework</mat-label>
                        <input matInput [(ngModel)]="user.framework" formControlName="framework">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Langage</mat-label>
                        <input matInput [(ngModel)]="user.langage" formControlName="langage">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Type</mat-label>
                        <input matInput [(ngModel)]="user.type" formControlName="type">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width-input">
                        <mat-label>Categorie</mat-label>
                        <input matInput [(ngModel)]="user.categorie" formControlName="categorie">
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuler</button>
                    <button type="button" class="btn btn-primary" (click)="modification()" data-dismiss="modal">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</body>
