<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Liste des frameworks</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Libellé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let framework of frameworks | async">
            <td>{{framework.framework}}</td>
            <td>
                <button (click)="deleteFramework(framework.idFramework)" class="btn btn-danger">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
