  <section>
  
    <mat-list>
  
      <h3 matHeader>Frameworks disponibles</h3>
      
      <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab color="primary" id="add-button" (click)="addFrk()">
                <mat-icon>add</mat-icon>
              </button>
          </div>
        </div>
      </div>
  
      <mat-divider></mat-divider>
  
      <mat-list-item *ngFor="let framework of frameworks | async">
        <p matLine>{{framework.framework}}</p>
        <button mat-icon-button color="warn" (click)="deleteFramework(framework.idFramework)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
  
    </mat-list>
  
  </section>
