<form [formGroup]="searchForm" class="maincontainer" (ngSubmit)="onSubmit()">
    <!-- <a routerLink="/goHome"><h1>Wikicodia</h1></a> -->
    <div class="row searchZone">
        <div class="col-lg-10 col-md-10 col-sm-12 searchInput">

            <mat-form-field class="searchInput">
                <mat-label>Rechercher</mat-label>
                <input matInput formControlName="searchWords">
              </mat-form-field>

              <!-- matTooltip="Rechercher" -->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 searchBtns">
            <button mat-button matTooltip="Rechercher" type="submit" value="submit">
                <mat-icon color="primary">search</mat-icon>
            </button>
            <!-- <button class="btn" type="reset" (click)="onReset()">Reset</button> -->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 searchBtns">

            <button mat-button matTooltip="Filtrer la recherche" type="button" (click)="addFilters()">
                <mat-icon color="primary">tune</mat-icon>
            </button>
        </div>

        <!-- <div class="col-lg-2 col-md-2 col-sm-2">
            <app-menu></app-menu>
        </div> -->
    </div>

    <!-- zone des selects -->
    <div class="row selectZone" *ngIf="showFilters">
        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Date de création</mat-label>
                <mat-select formControlName="dateCrea">
                    <mat-option value="none"> Toutes </mat-option>
                  <mat-option *ngFor='let value of counter;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Dernière modification</mat-label>
                <mat-select formControlName="dateModif">
                    <mat-option value="none"> Toutes </mat-option>
                  <mat-option *ngFor='let value of counter;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <mat-select formControlName="language">
                    <mat-option value="none"> Tous </mat-option>
                  <mat-option *ngFor='let value of listAllLanguages;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Version du language</mat-label>
                <mat-select formControlName="version">
                    <mat-option value="none"> Toutes </mat-option>
                  <mat-option *ngFor='let value of counter;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>


        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Framework</mat-label>
                <mat-select formControlName="framework">
                    <mat-option value="none"> Tous </mat-option>
                  <mat-option *ngFor='let value of listAllFramework;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Catégorie</mat-label>
                <mat-select formControlName="category">
                    <mat-option value="none"> Toutes </mat-option>
                  <mat-option *ngFor='let value of listAllCategory;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Popularités</mat-label>
                <mat-select formControlName="likes">
                    <mat-option value="none"> Tous </mat-option>
                  <mat-option *ngFor='let value of listAllNbLikes;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option value="none"> Tous </mat-option>
                  <mat-option *ngFor='let value of listAllType;' value="{{value}}">
                      {{value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>


        <div class="selectFilter col-sm-12 col-md-4 col-lg-3">
            <button class="resetButton" mat-button matTooltip="Supprimer les filtres selectionnés" type="button" (click)="onReset()">
                <mat-icon color="primary">backspace</mat-icon>
            </button>
        </div>

    </div>

    <!-- zone order by  -->
    <!-- <div class="row orderTitle" *ngIf="showFilters">
        <mat-divider></mat-divider>
        <div>Trier par :</div>
    </div>
    <div class="row orderZone" *ngIf="showFilters">
        <div class="col-3 orderCheckbox">
            <div>Date de dernière modification</div>
            <input type="checkbox" formControlName="orderByModif" (change)="onCheckboxChange($event)" />
        </div>
        <div class="col-3 orderCheckbox">
            <div>Date de création</div>
            <input type="checkbox" formControlName="orderByCrea" (change)="onCheckboxChange($event)" />
        </div>
        <div class="col-3 orderCheckbox">
            <div>Popularité</div>
            <input type="checkbox" formControlName="orderByLikes" (change)="onCheckboxChange($event)" />
        </div>
    </div> -->


</form>