<h3 matHeader>Créer une catégorie</h3>
<mat-divider></mat-divider>

<div [hidden]="submitted" style="width: 400px;">

  <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label for="libCategorie">Libellé</mat-label>
        <input matInput
          type="text"
          class="form-control"
          id="libCategorie"
          required
          [(ngModel)]="category.libCategorie"
          name="libCategorie"
        />
      </mat-form-field>
  
      <button mat-raised-button type="submit" value="submit"color="primary" (click)="onSubmit()">Valider</button>

  </mat-card-content>

</div>
  
<div [hidden]="!submitted">
    <h6>Nouvelle catégorie créée</h6>
    <button mat-raised-button color="accent" (click)="goBack()">Retour</button>
</div>