<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <h2>S'inscrire</h2>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="prenom">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="mail">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="mdp">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Confirmer Mot de passe</mat-label>
            <input matInput formControlName="confirmeMdp">
        </mat-form-field>
        <button type="submit">S'inscrir</button>
    </form>
</div>